<h1>***** Your results *****</h1>
<h3> Your word: </h3>
<p><%= @answer %></p>
<h3> Time Taken to answer: </h3>
<p><%= @time %></p>
<h3> Translation: </h3>
<p><%= @translation %></p>
<h3> Your score: </h3>
<p><%= @score %></p>
<h3> Message: </h3>
<p><%= @message %></p>
<h4> Average score </h4>
<p><%= @avg_score %></p>
<h4> Number of games </h4>
<p><%= @nb %></p>

<%= link_to "New Game", words_game_path %>
